.custom-nav{
	background: linear-gradient(left,#f93d67,#7047d7);
	background: -webkit-linear-gradient(left,#f93d67,#7047d7);
	background: -moz-linear-gradient(left,#f93d67,#7047d7);
	background: -ms-linear-gradient(left,#f93d67,#7047d7);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}